.proker-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.proker-img {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.download-button, .make-again-button {
    width: 13%;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease in out;
}


.download-button {
    background-color: #FA6366;
}


.download-button:hover {
    background-color: rgba(250, 99, 102, 0.5);
}

.make-again-button {
    background-color: rgba(250, 99, 102, 0.7);
}


@media (max-width: 1024px) {
    .buttons {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .download-button, .make-again-button {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .buttons {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .download-button, .make-again-button {
        width: 25%;
    }
}