@font-face {
  font-family: 'Poppins Black';
  src: url('../assets/poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins Black Italic';
  src: url('../assets/poppins/Poppins-BlackItalic.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url('../assets/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('../assets/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold Italic';
  src: url('../assets/poppins/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('../assets/poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight Italic';
  src: url('../assets/poppins/Poppins-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('../assets/poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../assets/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Light Italic';
  src: url('../assets/poppins/Poppins-LightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Medium Italic';
  src: url('../assets/poppins/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../assets/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold Italic';
  src: url('../assets/poppins/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('../assets/poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins Thin Italic';
  src: url('../assets/poppins/Poppins-ThinItalic.ttf');
}

:root {
  font-family: Poppins Regular;

  color-scheme: light dark;
  background-color: #505050;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #505050;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #FCB0B2;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #FA6366;
}

h1 {
  font-family: Poppins Bold;
  font-size: 3.2em;
  margin: 0;
}

h2 {
  font-family: Poppins Medium;
  font-size: 1.4em;
  margin-top: 0;
}

button {
  border-radius: 50px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
}

button:hover>.right-arrow {
  margin: 0 0 0 1em;
}

button:hover>.left-arrow {
  margin: 0 1em 0 0;
}

.hidden-button {
  transition: 0.25s;
  opacity: 0;
}

.right-arrow {
  margin: 0 0 0 0.5em;
  transition: 0.25s;
}

.left-arrow {
  margin: 0 0.5em 0 0;
  transition: 0.25s;
}

.start-button {
  background-color: #FA6366;
  color: white;
}

.start-button:hover {
  background-color: #BB5C5E;
}

.form-back-button,
.form-back-button>.left-arrow {
  color: #505050;
  font: 1.3em 'Poppins Bold';
  background-color: white;
}

.form-back-button {
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.page-description {
  margin: 1em;
  font-size: 1.25em;
  max-width: 100vh;
}

#form {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  width: 85vw;
  overflow: hidden;
  margin: 1em;
}

.steps {
  font-family: Poppins Medium;
  width: 100%;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2em 0;
  border-top: 2px solid #FCB0B2;
  user-select: none;
}

.steps>div {
  color: gainsboro;
  width: 25%;
  margin-top: -2px;
  padding: 1em 0;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.25s;
  border-top: 2px solid #FCB0B2;
}

.steps>div::before {
  content: counter(step);
  counter-increment: step;
  background-color: gainsboro;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: white;
}

.steps > div.steps-active {
  color: #505050;
  margin-top: -3px;
  border-top: 3px solid #FA6366;
}

.steps > div.steps-active::before {
  background-color: #FA6366;
}

.form-buttons {
  margin-top: 2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-contents {
  width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 2.5em;
  border: 1px solid gainsboro;
  box-sizing: border-box;
}

.label-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  margin-bottom: 0.8em;
}

input[type="text"] {
  padding: 0.8em;
}

.select {
  padding: 0.6em;
}

input[type="text"],
.select {
  font: 1em 'Poppins Regular';
  box-sizing: border-box;
  width: 50%;
  border-radius: 10px;
  outline: none;
  border: 1px solid gainsboro;
  color: inherit;
}

input::placeholder {
  color: gainsboro;
}

.program-title-container input[type="text"]:focus {
  border: 1px solid #FCB0B2;
}

.program-title-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.division-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.template-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.template-card {
  border: 1px solid gainsboro;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 200px;
  position: relative;
  transition: 0.25s;
  background-color: white;
}

.template-card:hover {
  border: 1px solid #FCB0B2;
}

.template-card:hover .template-name {
  background-color: #FCB0B2;
}

.template-card input[type="radio"] {
  position: absolute;
  top: 10px;
  left: 10px;
  accent-color: #FA6366;
  z-index: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em;
}

.logo {
  max-height: 140px;
  width: auto;
}

.template-name {
  width: 100%;
  text-align: center;
  background-color: gainsboro;
  padding: 0.5em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s;
}