@font-face {
  font-family: 'Poppins Black';
  src: url('../assets/poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins Black Italic';
  src: url('../assets/poppins/Poppins-BlackItalic.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url('../assets/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('../assets/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold Italic';
  src: url('../assets/poppins/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('../assets/poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight Italic';
  src: url('../assets/poppins/Poppins-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('../assets/poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../assets/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Light Italic';
  src: url('../assets/poppins/Poppins-LightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Medium Italic';
  src: url('../assets/poppins/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../assets/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold Italic';
  src: url('../assets/poppins/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('../assets/poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins Thin Italic';
  src: url('../assets/poppins/Poppins-ThinItalic.ttf');
}


:root {
  font-family: Poppins Regular;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #505050;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #505050;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

a {
  font-weight: 500;
  color: #FCB0B2;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #FA6366;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FA6366;
  cursor: pointer;
  transition: 0.25s;
  color: white;
}

button:hover {
  background-color: #BB5C5E;
}

button:hover>.arrow {
  margin: 0 0 0 1em;
}

.arrow {
  margin: 0 0 0 0.5em;
  transition: 0.25s;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.page-description {
  margin: 1em;
  font-size: 1.25em;
  max-width: 100vh;
}